flows/AFM.json
[{"id":"b3b7c69a298cb9de","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9e58624.7faaba","type":"mqtt out","z":"b3b7c69a298cb9de","name":"out","topic":"/1337souless@gmail.com/afm/output","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"39a87fe1e7be711a","x":290,"y":600,"wires":[]},{"id":"83cf37cf.c76988","type":"ui_switch","z":"b3b7c69a298cb9de","name":"","label":"Output","tooltip":"","group":"61285987.c20328","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":150,"y":600,"wires":[["9e58624.7faaba"]]},{"id":"cc79021b.9a751","type":"debug","z":"b3b7c69a298cb9de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":480,"wires":[]},{"id":"22efa7b7.544a28","type":"debug","z":"b3b7c69a298cb9de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":340,"wires":[]},{"id":"21eae8f8.2971b8","type":"ui_chart","z":"b3b7c69a298cb9de","name":"","group":"61285987.c20328","order":0,"width":0,"height":0,"label":"F","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":530,"y":560,"wires":[[]]},{"id":"df37e6b7.64c1c8","type":"ui_gauge","z":"b3b7c69a298cb9de","name":"","group":"61285987.c20328","order":0,"width":0,"height":0,"gtype":"gage","title":"dW","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b3d9","#0073e6","#001bd7"],"seg1":"33","seg2":"66","x":630,"y":420,"wires":[]},{"id":"2d5e5c47be45ca1b","type":"debug","z":"b3b7c69a298cb9de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":200,"wires":[]},{"id":"81264f84ca2a8402","type":"ui_gauge","z":"b3b7c69a298cb9de","name":"","group":"61285987.c20328","order":0,"width":0,"height":0,"gtype":"gage","title":"W","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b3d9","#0073e6","#001bd7"],"seg1":"33","seg2":"66","x":470,"y":280,"wires":[]},{"id":"ecb90cdcfa6a606a","type":"template","z":"b3b7c69a298cb9de","name":"Weight","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Weight: {{payload}} !","output":"str","x":410,"y":220,"wires":[["2d5e5c47be45ca1b"]]},{"id":"779980bd7297d75b","type":"template","z":"b3b7c69a298cb9de","name":"dWeight","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Delta Weight: {{payload}} !","output":"str","x":480,"y":360,"wires":[["22efa7b7.544a28"]]},{"id":"71b2efb17c722d89","type":"template","z":"b3b7c69a298cb9de","name":"Frequency","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Frequency: {{payload}} !","output":"str","x":430,"y":460,"wires":[["cc79021b.9a751"]]},{"id":"1b7e4be36406d232","type":"debug","z":"b3b7c69a298cb9de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":700,"wires":[]},{"id":"408211ba90458605","type":"mqtt in","z":"b3b7c69a298cb9de","name":"Freq","topic":"/afmproject2021@gmail.com/afm/frequency","qos":"2","datatype":"auto","broker":"2ad031255c7b0870","nl":false,"rap":false,"x":110,"y":500,"wires":[["21eae8f8.2971b8","71b2efb17c722d89"]]},{"id":"5811850c32b38814","type":"mqtt in","z":"b3b7c69a298cb9de","name":"dw","topic":"/afmproject2021@gmail.com/afm/delta_weight","qos":"2","datatype":"auto","broker":"2ad031255c7b0870","nl":false,"rap":false,"x":110,"y":400,"wires":[["779980bd7297d75b","df37e6b7.64c1c8"]]},{"id":"e4e73b72d260bc10","type":"mqtt in","z":"b3b7c69a298cb9de","name":"W","topic":"/afmproject2021@gmail.com/afm/weight","qos":"2","datatype":"auto","broker":"2ad031255c7b0870","nl":false,"rap":false,"x":110,"y":300,"wires":[["ecb90cdcfa6a606a","81264f84ca2a8402"]]},{"id":"606cb286be87666e","type":"mqtt in","z":"b3b7c69a298cb9de","name":"Debug","topic":"/afmproject2021@gmail.com/afm/debug","qos":"0","datatype":"auto","broker":"2ad031255c7b0870","nl":false,"rap":true,"rh":0,"x":90,"y":700,"wires":[["1b7e4be36406d232"]]},{"id":"39a87fe1e7be711a","type":"mqtt-broker","name":"mqtt dioty test","broker":"mqtt.dioty.co","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"61285987.c20328","type":"ui_group","name":"Main","tab":"e7c46d5e.a1283","order":1,"disp":true,"width":"6","collapse":false},{"id":"2ad031255c7b0870","type":"mqtt-broker","name":"mqtt dioty","broker":"mqtt.dioty.co","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":"","credentials":{}},{"id":"e7c46d5e.a1283","type":"ui_tab","name":"Dashboard","icon":"dashboard"}]